<div class="modal-header">
	<h4 class="modal-title">{{ item.name }}</h4>
</div>
<img class="text-center" style="max-width: 100%;" ng-src="{{item.photo}}" alt="" />
<div class="text-center">Only for {{item.price}}$</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
