<h1>Reviews</h1>
<h3>{{a}} (updated from service)</h3>
<div ng-repeat="item in data">
  <strong>{{item.name}}</strong><small>  {{item.date}}</small>
  <div class="well well-lg">
    {{item.text}}
  </div>
</div>

<h3>Add Your Review</h3>
<form name="userForm" ng-submit="submitForm(name, text)" novalidate>
  <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
    <input type="text" name="name" class="form-control" ng-model="name" placeholder="Name" required>
  </div>

  <div class="form-group" ng-class="{ 'has-error' : userForm.text.$invalid && !userForm.text.$pristine }">
    <textarea name="text" class="form-control" ng-model="text" placeholder="Message" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

</form>
