<h1>Goods</h1>
<table class="table table-striped">
  <tr>
    <th ng-click="order='id'">Id</th>
    <th ng-click="order='name'">Name</th>
    <th ng-click="order='price'">Price</th>
  </tr>
  <tr ng-repeat="item in data | orderBy: order ">
    <td>{{item.id}}</td>
    <td><a ui-sref="goods.showOne({id:item.id})">{{item.name}}</a></td>
    <td>{{item.price}}</td>
  </tr>
</table>
